.main-container {
    display:grid;
    grid-template-rows: 15vh 1fr 10vh;
    grid-template-columns: 1fr; 
    grid-template-areas:
	"header"
	"books"
	"footer";
    grid-gap:5px;
    width: 100%;
}

.banner {
    text-align:center;
    background-color:rgba(100,200,200,1);
}

.header {
    grid-area:header;
}

.books {
    grid-area:books;
    display:grid;
    grid-template-rows: minmax(70vh,auto);
    grid-template-columns: auto 50vw;
    grid-template-areas:
	"loose-books stacked-books";
    grid-gap:5px;
}   

.footer {
    grid-area:footer;
    font-size:3em;
}

.loose-books {
    grid-area:loose-books;
	
    display:flex;
    flex-wrap:wrap;
    background-color:rgba(0,120,60,1);
}

.stacked-books {
    grid-area:stacked-books;
    position:relative;
    background-color:rgba(200,100,80,1);
}

.book {
    display:flex;
    flex-direction:column; 
    padding:5px;
    font-size:20px;
    width:150px;
    height:200px;
    margin:10px;
    background-color:rgba(100,200,150,1);
    
    box-shadow: 10px 15px 20px rgba(0,0,0,1), 0 6px 6px rgba(0,0,0,0.23);

}

.book-title {
    font-size: 14px;
}
.book-details {
    justify-content:center;
    align-items:center;
}
.stacked-book {
    position:absolute;
}

#book5 {
    left: 0px;
    top: 10px;
    z-index:2;
}

#book4 {
    left: 15px;
    top: 20px;
    z-index:3;
}

#book3 {
    left: 30px;
    top:30px;
    z-index:4;
}

#book2 {
    left: 45px;
    top:40px;
    z-index:5;
}

#favorites-coverpage {
    left: 60px;
    top: 50px;
    z-index:6;
}

.book:hover{
    box-shadow: 10px 15px 20px rgba(0,100,255,0.6), 0 6px 6px rgba(0,0,0,0.23);
}

#book2:hover{
    top:20px;
}
#book3:hover{
    top:10px;
}
#book4:hover{
    top:0px;
}
#book5:hover{
    top:-10px;
}



